*{
      user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#PersonalToolbar[moz-collapsed="true"]{
  visibility: visible !important;
}
#navigator-toolbox[inFullscreen="true"]{
  margin-top:-62px !important;
  visibility: visible !important;
}

.titlebar-buttonbox-container {
  display: none !important;
}
 #navigator-toolbox {
  font-size: 18px !important;
} 


:root .tab-content {
    font-size: 16px !important;
    font-weight: bold !important;
}

  #navigator-toolbox:is(
    #navigator-toolbox[zen-user-hover='true']:hover,
    #navigator-toolbox[zen-user-hover='true']:focus-within,
    #navigator-toolbox[zen-user-hover='true'][movingtab],
    #navigator-toolbox[zen-user-hover='true'][flash-popup],
    #mainPopupSet[zen-user-hover='true']:has(> #appMenu-popup:hover) ~ toolbox,
    #navigator-toolbox[zen-user-hover='true']:has(*[open='true']:not(tab):not(#zen-sidepanel-button)),
    #navigator-toolbox[zen-expanded='true']:not([zen-user-hover='true'])) {
    --zen-toolbox-min-width: 300px !important;;
}

/* Remove border padding */
:root:not([inDOMFullscreen="true"]):not([chromehidden~="location"]):not([chromehidden~="toolbar"]) {
  & #tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer  {
    margin: 0 !important;
    border-radius: 0 !important;
  }
}

@media (-moz-bool-pref: "zen.view.compact") {
  @media (-moz-bool-pref: "zen.view.compact.hide-toolbar") {
    :root:not([inDOMFullscreen="true"]) #tabbrowser-tabpanels, #tabbrowser-tabpanels {
      padding-left: 0 !important;
      padding-top: 0 !important;
      padding-right: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}


/* Remove border padding from Zen sidebar */
:root:not([inDOMFullscreen="true"]):not([chromehidden~="location"]):not([chromehidden~="toolbar"]) {
  & #zen-sidebar-web-panel-wrapper {
    margin: 0 !important;
  }
}

:root:not([inDOMFullscreen="true"]):not([chromehidden~="location"]):not([chromehidden~="toolbar"]) {
  & #zen-sidebar-web-header {
    border-radius: 0 !important;
  }
}

:root:not([inDOMFullscreen="true"]):not([chromehidden~="location"]):not([chromehidden~="toolbar"]) {
  & #zen-sidebar-web-panel {
    border-radius: 0 !important;
  }
}

/* Remove radious in address bar */
@media (-moz-bool-pref: "zen.view.compact") {
  @media (-moz-bool-pref: "zen.view.compact.hide-toolbar") {
    #zen-appcontent-navbar-container {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
}

:root[inFullscreen] #PersonalToolbar {
 visibility: visible !important;
}

#zen-appcontent-navbar-container {
  backdrop-filter: blur(0px) !important;
}

#urlbar {
  backdrop-filter: blur(0px) !important;
}

